name: Github Pages

on:
    push:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
            - run: npm ci
            - run: npm run docs
            - uses: crazy-max/ghaction-github-pages@v1
              with:
                  build_dir: docs
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
